include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/myorgexample *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/myorgexample/migration *.ini *.py *.mako
