{% ckan_extends %}

{% block resource_form_inner %}
    {{ super() }}
  <div class="control-group">
    <label class="control-label" for="push_to_cdp">{{ _("Push data to CDP") }}</label>
    <div class="controls">
       <select name="push_to_cdp" id="push_to_cdp">
           <option value="no" {% if not resource.push_to_cdp or resource.push_to_cdp == 'no' %}selected{% endif %}>{{ _('No') }}</option>
           <option value="yes" {% if resource.push_to_cdp == 'yes' %}selected{% endif %}>{{ _('Yes') }}</option>
       </select>
    </div>
 </div>
{% endblock %}