{% ckan_extends %}

{% block scripts %}
  {{ super() }}
  {% asset 'orgextra/orgextra_js' %}
{% endblock %}

{% block body_extras -%}
  {{ super() }}
  <style>
    .close-cookies {
      text-align: right;
      position: absolute;
      top: 0px;
      right: 40px;
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }
    .txt-cookie {
      color: black;
      font-weight: bold;
    }
    .myDiv {
      background-color: rgb(181, 180, 180);
      opacity: 0.9;
      text-align: center;
      position: fixed;
      left: 0px;
      bottom: 0px;
      width: 100%;
      padding: 10px;
      color: white;
      z-index: 1;
    }
  </style>
  
  <div id="cookieNotice" class="myDiv" style="display: none;">
      <div id="closeIcon" style="display: none;">
      </div>
      <div class="content-wrap">
          <div class="msg-wrap">
              <p class="txt-cookie">เว็บไซต์นี้ใช้ "คุกกี้" เพื่อวัตถุประสงค์ในการพัฒนาการเข้าถึงบริการของผู้ใช้ให้ดียิ่งขึ้น หากต้องการเปิดใช้งานคุกกี้ โปรดคลิก "ยอมรับคุกกี้"</p>
              <p class="txt-cookie">OOOPPPAAAALLL</p>
              <div class="btn-wrap">
                  <button class="btn-primary" onclick="acceptCookieConsent();">ยอมรับคุกกี้</button>
              </div>
              <div class="close-cookies" onclick="closeCookieConsent();">x</div>
          </div>
      </div>
  </div>
{%- endblock %}