<section class="module-content">
  <h2>{{ _('Resources by Organization') }}</h2>
  {% if data_receive %}
    <table class="table table-chunky table-bordered table-striped">
      <thead>
        <tr>
          <th>{{ _('Organization') }}</th>
          <th>{{ _('Tabular') }}</th>
          <th>{{ _('Spatial') }}</th>
          <th>{{ _('Other') }}</th>
          <th class="metric">{{ _('Total') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for group,t,s,o,tot in data_receive %}
          <tr>
            <td>{{ h.link_to(group.title or group.name, h.url_for('organization.read', id=group.name)) }}</td>
            <td>{{ t }}</td>
            <td>{{ s }}</td>
            <td>{{ o }}</td>
            <td class="metric">{{ tot }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="empty">{{ _('No groups') }}</p>
  {% endif %}
</section>
