<section class="module-content ">
    <h2>{{ _('Users by Organization') }}</h2>
    {% if data_receive %}
    {%set sysadmins = False %}
    <a style="float:right;   margin-bottom: 10px;" class="btn" href="#"
        onClick="$('#users_by_organisation').tableExport({type:'csv',escape:'false', tableName:'users_by_organization'});">Export
        as CSV</a>
    <!--<a style="float:right;   margin-bottom: 10px;   margin-right: 10px;" class="btn btn-excel" href="#"
           onClick ="$('#users_by_organisation').tableExport({type:'excel', tableName:'users_by_organisation', escape:'false', htmlContent:'true'});">Export as XLSX</a>-->

    <table class="table table-chunky table-bordered table-striped" id="users_by_organisation">
        <thead>
            <tr>
                <th class="metric">{{ _('Organization') }}</th>
                <th>{{ _('User') }}</th>
                <th>{{ _('User Login') }}</th>
                <th>{{ _('User Email') }}</th>
                <th>{{ _('Role') }}</th>
                <th>Sysadmin</th>
            </tr>
        </thead>
        <tbody>
            {% for org,user,role,sysadmin in data_receive %}
            <tr>
                <td>{{ h.link_to(org.title, h.url_for('organization.read', id=org.name)) }}</td>
                <td>{{ h.link_to(user.display_name or user.name, h.url_for('user.read',
                    id=user.name)) }}</td>
                <td>{{ h.link_to(user.name, h.url_for('user.read', id=user.name)) }}</td>
                <td>{{ h.link_to(user.email, h.url_for('user.read', id=user.name)) }}</td>
                <td>{{ role }}<br /></td>
                <td>{{ sysadmin }}<br /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="empty">{{ _('No groups') }}</p>
    {% endif %}
</section>