<section class="module-content">
    <h2>{{ _('User Access List') }}</h2>
    {% if data_receive %}
    {% for year in h.date_range() %}
    <h3>{{ year }}</h3>
    <table class="table table-chunky table-bordered table-striped">
        <thead>
            <tr>
                <th>{{ _('Username') }}</th>
                <th>{{ _('SysAdmin') }}</th>
                <th class="metric">{{ _('Organizational Role') }}</th>
                <th class="metric">Last Activity</th>
            </tr>
        </thead>
        <tbody>

            {% for user,sysadmin,role,last_activity,orgs in data_receive %}
            {% if year == last_activity.year %}
            <tr>
                <td>
                    {{ h.link_to(user.display_name or user.name, h.url_for('user.read', id=user.name)) }}
                </td>
                <td>{{ sysadmin }}</td>
                <td>{{ role }}<br />
                    {% if orgs[0] %}
                    {% for org in orgs %}
                    {% set org_obj = h.get_organization(org) %}
                    {{ h.link_to(org_obj['title'], h.url_for('organization.read', id=org)) }}
                    {% endfor %}
                    {% endif %}
                </td>
                <td>{{ last_activity.strftime(date_format) }}</td>
            </tr>
            {% endif %}
            {% endfor %}

        </tbody>
    </table>
    {% endfor %}
    {% else %}
    <p class="empty">{{ _('No groups') }}</p>
    {% endif %}
</section>