{% extends "page.html" %}

{% block breadcrumb_content %}
<li class="active">{{ 'Statistics' }}</li>
{% endblock %}

{% block primary_content %}
<article class="module">

  <section id="opendstats-data-by-organize" class="module-content">
    <h2>{{ _('Used Dataset Group By Oraganization') }}</h2>
    {% if used_data_by_organi %}
    <table class="table table-chunky table-bordered table-striped">
      <thead>
        <tr>
          <th>{{ _('Oraganization') }}</th>
          <th class="metric">{{ _('Average rating') }}</th>
          <th class="metric">{{ _('Number of ratings') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>test </th>
          <td class="metric">sssss</td>
          <td class="metric">{{ used_data_by_organi }}</td>
        </tr>
      </tbody>
    </table>
    {% else %}
    <p class="empty">{{ _('No ratings') }}</p>
    {% endif %}
  </section>
</article>
{% endblock %}

{% block secondary_content %}
  {{ super() }}
  {% snippet "ckanext/opendstats/leftside.html" on_page=opendstats_page %}
{% endblock %}