{# This is specific to datasets' owner_org field and won't work #}
{# if used with other fields #}

{%
set feq_options = [
    ('ไม่มีการปรับปรุง', 'ไม่มีการปรับปรุง'),
    ('รายปี', 'รายปี'),
    ('รายไตรมาส', 'รายไตรมาส'),
    ('รายเดือน', 'รายเดือน'),
    ('รายสัปดาห์', 'รายสัปดาห์'),
    ('รายวัน', 'รายวัน'),
    ('2 ครั้ง/เดือน', '2 ครั้ง/เดือน'),
    ('2 ครั้ง/สัปดาห์', '2 ครั้ง/สัปดาห์'),
    ('รายชั่วโมง', 'รายชั่วโมง'),
    ('ตลอดเวลา', 'ตลอดเวลา')
]
%}

<div class="control-group form-group control-medium">
    <span title="{{_('This field is required')}}" class="control-required">*</span>
    <label for="field-maintain_frequent" class="control-label">{{h.scheming_language_text(field.label)}}</label>
    <div class="controls">
        <select id="field-maintain_frequent" name="maintain_frequent" class="form-control">
            {% for option in feq_options %}
            <option value="{{ option[0] }}" {% if option[0]== data.maintain_frequent|trim %}selected="selected" {% endif
                    %}>{{ option[1] }}
            </option>
            {% endfor %}
        </select>
    </div>
</div>
