{% import 'macros/form.html' as form %}

{% macro help_text() %}
  {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endmacro %}

{%- call form.input_block(
    "field-{{ field.field_name }}",
    label=h.scheming_language_text(field.label),
    classes=['control-full'],
    is_required=h.scheming_field_required(field),
    extra_html=help_text()
    ) -%}
  {%- set choices = [] -%}
  {% set category_dict = h.scheming_group_schemas() %}
  {% for category in category_dict.keys()|sort %}
    {% if category != 'category01' %}
    {%- do choices.append(
        (category, category_dict[category]['group_title'])) -%}
    {% for group in h.gdc_get_all_groups_all_type(type=category, id='name') %}
        {%- do choices.append(
            (group[0], group[1])) -%}
    {% endfor %}
    {% endif %}
  {% endfor %}
  

  <select multiple
      size="{{ ([field.get('select_size', 5), field.choices|length]|sort)[0] }}"
      style="display: inline-table"
      id="field-{{ field.field_name }}"
      name="{{ field.field_name }}" {{ form.attributes(
        field.get('form_select_attrs', {'data-module':'autocomplete'})) }}
      {{ form.attributes(dict(
        {"class": "form-control"}, **field.get('form_select_attrs', {}))) }}>
    
    
    {% if data[field.field_name] %}
    {#% set selected_data = data[field.field_name][0].replace('[','').replace(']','').replace("u'","'").replace(" ","").replace("'","").split(',') %#}
    {% set selected_data = data[field.field_name][0].replace('[','').replace(']','').replace('{','').replace('}','').split(',') %}
    {% endif %}
    {%- for val, label in choices -%}
    {% if val.startswith('category')  %}
    <optgroup label="{{ label }}">
    
    {% else %}
      <option id="field-{{ field.field_name }}-{{ val }}"
          value="{{ val }}"
          {{"selected " if val in selected_data }} />{{ label }}
      </option>
      
    {% endif %}
    {%- endfor -%}
  </select>
{%- endcall -%}

